<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mel0ny.springboot.mapper.ScoreMapper">
    <update id="updateScoreByCourseId">
        UPDATE score
        <set>
            <if test="course.courseId != null and course.courseId != '">
                course_id = #{course.courseId}
            </if>
            <if test="course.courseName != null and course.courseName != ''">
                course_name = #{course.courseName}
            </if>
        </set>
        WHERE course_id = #{courseId}
    </update>

    <update id="updateScoreByStudentId">
        UPDATE score
        <set>
            <if test="student.studentId != null and student.studentId != ''">
                student_id = #{studentId},
            </if>
        </set>
        WHERE student_id = #{studentId}
    </update>

    <update id="updateScoreByIds">
        UPDATE score
        <set>
            <if test="score.score != null and score.score != ''">
                score = #{score.score},
            </if>
        </set>
        WHERE student_id = #{studentId} AND course_id = #{courseId}
    </update>

    <!--不会写,PowerBy Kimi-->
    <select id="selectScoreByKeyword" resultType="com.mel0ny.springboot.pojo.Score">
        SELECT * FROM score
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                CAST(student_id AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                OR CAST(course_id AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                OR CAST(score AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
    </select>
</mapper>